* {
    margin: 0;
    padding: 0;
}

.row {

    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    font-size: 30px;


}

.icons {
    display: block;
    align-items: center;
}



.vv {
    border-radius: 30px;
}

.vv p {
    font-weight: 600;
}