* {
    margin: 0;
    padding: 0;
}

.row {

    margin-left: 5rem;
    margin-right: 5rem;

    font-size: 20px;


}

.icons {
    display: block;
    align-items: center;
}



.vv {
    border-radius: 30px;
    width: 300px;

}

.vv p {
    font-weight: 600;
}